.location-card {
    flex: 0 0 auto;
    position: relative;
    width: 85vw;
    height: 30vh;
    margin-top: 2vh;
    span {
        color: $first-color;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .avatar {
        background-image: url('https://restcountries.eu/data/col.svg');
        width: 20px;
        height: 20px;
        margin-left: 5%;
    }
    .row-container {
        &.__top-bar {
            position: absolute;
            top: 3%;
            left: 4%;
            width: 95%;
            justify-content: space-between;
        }
        &.__schedule {
            width: 100%;
            height: 20%;
            justify-content: space-around;
            position: absolute;
            bottom: 0%;
            background-color: $second-color;
            opacity: 0.8;
        }
        .actions {
            width: 25px;
            height: 25px;
        }
    }
}

//Ipad
@media only screen and (min-device-width: 700px) {
    .location-card {
        width: 75vw;
        .row-container {
            .actions {
                width: 35px;
                height: 35px;
            }
        }
    }
}

//Ipad Pro
@media only screen and (min-device-width: 1000px) {
    .location-card {
        .avatar {
            width: 40px;
            height: 40px;
        }
        .row-container {
            .actions {
                width: 45px;
                height: 45px;
            }
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) {
    .location-card {
        .avatar {
            width: 30px;
            height: 30px;
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 800px) {
    .location-card {
        max-width: 350px
    }
}