<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Detail</title>
</head>

<body>
    <header class="text-B">
        <span id="page-label">Location</span>

        <a>Next</a>
    </header>

    <div class="hero-header"></div>

    <main>
        <div id="main-container" class="column-container-A"></div>
    </main>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>