$component: 'calendar';
.#{$component} {
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
    %calendar-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        place-items: center center;
        place-content: center center;
        gap: 5% 0;
    }
    h3 {
        color: $second-color;
        align-self: flex-start;
        margin-top: 2vh;
    }
    ##{$component}__days-header {
        @extend %calendar-grid;
        margin-top: 2vh;
        color: $third-color;
        overflow: inherit;
        +.column-container-A {
            overflow: inherit;
            height: 100%;
            .#{$component}__days {
                @extend %calendar-grid;
                grid-auto-rows: 5vh;
                color: $second-color;
                margin-top: 4vh;
                margin-bottom: 3vh;
                span {
                    height: 5vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .#{$component}__day-reserved {
                    color: $third-color;
                }
                .#{$component}__day-selected {
                    color: $first-color;
                    background-color: $second-color;
                    border-radius: 100%;
                    width: 80%;
                    height: 100%;
                }
            }
        }
        ##{$component}__days-header-line {
            grid-area: 2/1/3/8;
            width: 100%;
            height: 0;
            border: 1px solid $third-color;
            margin-top: 2%;
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 700px) {
    .#{$component} {
        ##{$component}__days-header {
            +.column-container-A {
                .#{$component}__days {
                    .#{$component}__day-selected {
                        width: 50%;
                        height: 80%;
                    }
                }
            }
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 900px) {
    .#{$component} {
        ##{$component}__days-header {
            +.column-container-A {
                .#{$component}__days {
                    .#{$component}__day-selected {
                        width: 40%;
                        height: 80%;
                    }
                }
            }
        }
    }
}