@import '../../resets';
@import '../../global';
@import '../../theme/theme-color';
@import '../../theme/theme-font';
@import '../../components/header/header';
@import '../../components/line-input/line-input';
@import '../../components/check-list/check-list';
@import '../../components/add-button/add-button';
@import '../../components/hero-slide-location/hero-slide-location';
@import '../../components/footer/footer';
body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 95vw 1fr;
    grid-template-rows: 6vh 1fr 9vh;
    overflow: hidden;
}

main {
    grid-area: 2/2/3/3;
    padding-bottom: 5vh;
    overflow-y: scroll;
    h2 {
        color: $second-color;
        align-self: flex-start;
        margin: 2vh 0 0 5%;
    }
    #notes {
        overflow: auto;
        outline: none;
        padding: 2% 5%;
        width: 100%;
        border: 1px solid $third-color;
        border-radius: 2vh;
        color: $second-color;
        font-family: inherit;
        &:focus {
            border: 1px solid $second-color;
        }
        &::placeholder {
            color: $third-color;
        }
    }
}