@import '../../resets';
@import '../../global';
@import '../../theme/theme-color';
@import '../../theme/theme-font';
@import '../../components/header/header';
@import '../../components/hero-header/hero-header';
@import '../../components/hero-slide-location/hero-slide-location';
body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 95vw 1fr;
    grid-template-rows: 6vh 25vh 1fr;
    overflow: hidden;
}

header {
    grid-area: 1/1/2/4;
}

main {
    grid-area: 3/2/4/3;
    padding-bottom: 5vh;
    overflow-y: scroll;
}

.hero-header {
    grid-area: 2/1/3/4;
    .avatar {
        width: 15vw;
        height: 7vh;
        background-image: url('https://restcountries.eu/data/col.svg');
    }
    .hero-slide-location {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        .__slide-element {
            margin-right: 0;
        }
        +.row-container {
            .progress-circle {
                margin: 0.7vh 0.4vw;
                height: 0.8vh;
            }
        }
    }
}