footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center center;
    place-content: center center;
    border-top: 1px solid $third-color;
    span {
        white-space: nowrap;
        color: $second-color;
    }
    a {
        color: $confirm-color;
        font-weight: bold;
    }
    .tag {
        color: $third-color;
    }
}