.navbar {
    grid-area: 2/1/3/4;
    color: $third-color;
    border-bottom: 1px solid $third-color;
    &.row-container {
        justify-content: space-around;
    }
    .active {
        color: $second-color;
    }
    .active::after {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background-color: $second-color;
        position: relative;
        top: 2vh;
    }
}