.navbar {
    color: $third-color;
    border-bottom: 1px solid $third-color;
    background-color: $first-color;
    z-index: 1;
    &.row-container {
        justify-content: space-around;
    }
    a:hover {
        cursor: pointer;
    }
    .active {
        color: $second-color;
        height: 100%;
        display: flex;
        border-bottom: 1px solid #707070;
        align-items: center;
    }
}