/**
    Slide styles taken from the reference: https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/
    by https://css-tricks.com/author/chriscoyier/
**/

.hero-slide-location {
    overflow: hidden;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    .__slide-element {
        scroll-snap-align: center;
        flex-shrink: 0;
        width: 100%;
        margin-right: 50px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .row-container {
            position: absolute;
            top: 5%;
            left: 5%;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
    span {
        color: $first-color;
    }
    .avatar {
        background-image: url('https://restcountries.eu/data/col.svg');
        width: 5vw;
        height: 3vh;
        margin-left: 5%;
    }
    +.row-container {
        .progress-circle {
            width: 2vw;
            height: 0.5vh;
            border-radius: 100%;
            border: 1px solid $second-color;
            margin: 0.5% 5%;
            &.active {
                background-color: $second-color;
            }
        }
    }
}

// .slides>div:target {
//     /*   transform: scale(0.8); */
// }
// .slider>a:active {
//     top: 1px;
// }
// /* Don't need button navigation */
// @supports (scroll-snap-type: x mandatory) {
//     .slider>a {
//         display: none;
//     }
// }