form {
    .line-input {
        display: grid;
        grid-template-columns: 58vw 1fr;
        place-items: center center;
        place-content: center center;
        border-bottom: 1px solid $third-color;
        color: $second-color;
        margin-top: 5%;
        .pen {
            width: 5vw;
            height: 3vh;
        }
        input[type='text'] {
            width: 95%;
            justify-self: start;
            background-color: transparent;
            color: $second-color;
            border: none;
            &::placeholder {
                color: $third-color;
            }
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 700px) {
    form {
        .line-input {
            grid-template-columns: 500px 1fr;
        }
    }
}