.trip-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 5vh 30vh 3vh 12vh 4vh;
    justify-items: center;
    margin-top: 2vh;
    .actions {
        width: 15vw;
        height: 5vh;
        place-self: start end;
    }
    .hero-slide-location {
        width: 90%;
        height: 100%;
    }
    .content {
        width: 90%;
        align-self: center;
        span {
            color: $second-color;
            font-weight: bold;
        }
        .more {
            color: $third-color;
        }
    }
    .text-D {
        place-self: start end;
        margin-right: 5%;
    }
}

//Queries for ipad and portrait desktop
@media only screen and (min-width: 700px) {
    .trip-card {
        grid-template-columns: 70vw;
    }
}

@media only screen and (min-width: 1100px) {
    .trip-card {
        grid-template-columns: 40vw;
    }
}