form {
    &.check-list {
        input[type='checkbox'] {
            width: 5vw;
            height: 3vh;
            cursor: pointer;
        }
        .line-input {
            grid-template-columns: 1fr 50vw 1fr;
        }
        #add-element {
            align-self: flex-end;
            width: 6vw;
            height: 5vh;
            margin-top: 2vh;
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 700px) {
    form {
        &.check-list {
            .line-input {
                grid-template-columns: 1fr minmax(300px, 500px) 1fr;
            }
        }
    }
}