header {
    overflow: inherit;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    place-items: center center;
    place-content: center center;
    border-bottom: 1px solid $third-color;
    background-color: $first-color;
    z-index: 1;
    span {
        color: $second-color;
    }
    a {
        color: $confirm-color;
        font-weight: bold;
        width: 150%;
    }
    #back {
        width: 10vw;
        height: 5vh;
    }
}