header {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    place-items: center center;
    place-content: center center;
    border-bottom: 1px solid $third-color;
    span {
        color: $second-color;
    }
    #back {
        width: 10vw;
        height: 5vh;
    }
}