@import '../../resets';
@import '../../global';
@import '../../theme/theme-color';
@import '../../theme/theme-font';
@import '../../components/header/header';
@import '../../components/calendar/calendar';
@import '../../components/footer/footer';
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh 85vh 9vh; //TODO: ADD MAIN HEIGHT IN ALL PAGES
    overflow: hidden;
}

header {
    grid-area: 1/1/2/2;
}

h2 {
    color: $second-color;
    align-self: flex-start;
    margin-top: 2vh;
}

main {
    grid-area: 2/1/3/2;
    overflow-y: scroll;
    overflow-x: hidden;
    section {
        width: 90vw;
    }
    h2 {
        background-color: $first-color;
        position: sticky;
        top: 0vh;
        padding-top: 1vh;
        z-index: 1;
    }
    .calendar {
        #calendar__days-header {
            background-color: $first-color;
            position: sticky;
            padding-top: 2vh;
            top: 3vh;
        }
    }
}

footer {
    grid-area: 3/1/4/2;
}

//Ipad
@media only screen and (min-device-width: 700px) {
    main {
        section {
            width: 70vw;
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 900px) {
    main {
        section {
            width: 700px;
        }
    }
}