@import '../resets';
@import '../global';
@import '../theme/theme-color';
@import '../theme/theme-font';
@import '../components/header';
@import '../components/line-input';
@import '../components/check-list';
@import '../components/location-card';
@import '../components/add-button';
@import '../components/footer';
body {
    display: grid;
    grid-template-columns: 1fr 95vw 1fr;
    grid-template-rows: 6vh 85vh 9vh;
    overflow: hidden;
}

header {
    grid-area: 1/1/2/4;
}

main {
    grid-area: 2/1/3/4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 2vh;
    section {
        h2 {
            color: $second-color;
            align-self: flex-start;
            margin: 2vh 0 0 5%;
        }
    }
    #notes {
        width: 95%;
        border: 1px solid $third-color;
        border-radius: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus {
            border: 1px solid $second-color;
        }
        textarea {
            height: 85%;
            overflow: auto;
            outline: none;
            color: $second-color;
            font-family: inherit;
            width: inherit;
            border: none;
            &::placeholder {
                color: $third-color;
            }
        }
    }
    #check-list-section,
    #location-cards-section {
        width: 100%;
    }
    #location-cards-section {
        .column-container-A {
            width: 100%;
        }
    }
    #add-button {
        bottom: 10%;
    }
}

footer {
    grid-area: 3/1/4/4;
}

//Ipad
@media only screen and (min-device-width: 700px) {
    main {
        #check-list-section,
        #location-cards-section {
            width: 90%;
        }
    }
}

//Ipad Pro
@media only screen and (min-device-width: 1000px) {
    main {
        #check-list-section,
        #location-cards-section {
            width: 95%;
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 700px) {
    main {
        #notes {
            max-width: 800px;
        }
        #check-list-section,
        #location-cards-section {
            max-width: 950px;
        }
    }
}

//Desktop
@media only screen and (min-device-width: 1200px) and (min-width: 800px) {
    main {
        #location-cards-section {
            .column-container-A {
                justify-content: space-evenly;
                flex-flow: row wrap;
                height: fit-content;
            }
        }
    }
}