$component: 'country-capital';
.#{$component} {
    position: relative;
    width: 100%;
    height: 30vh;
    span {
        color: $first-color;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .column-container-A {
        width: 50%;
        height: 100%;
        background-color: $second-color;
        opacity: 0.8;
        position: absolute;
        top: 0;
        justify-content: space-evenly;
        ##{$component}__country {
            align-self: flex-start;
            margin-left: 5%;
        }
        .row-container {
            margin-top: 5%;
            margin-left: 5%;
            width: 95%;
        }
    }
    .#{$component}__icon {
        width: 30px;
        height: 30px;
        margin-right: 5%;
    }
}

//Ipad
@media only screen and (min-device-width: 700px) {
    .#{$component} {
        .#{$component}__icon {
            width: 60px;
            height: 60px;
        }
    }
}