@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
$font-stack: 'Roboto',
sans-serif;
html {
    font-size: 16px;
    font-family: $font-stack;
}

.hero-text {
    font-size: 3rem;
}

.text-A {
    font-size: 1.12rem; //17.92px
}

.text-B {
    font-size: 1rem; //16px
}

.text-C {
    font-size: 0.875rem; //14px
    line-height: 1.25rem;
}

.text-D {
    font-size: 0.625rem; //10px
}

//Ipad
@media only screen and (min-device-width: 700px) {
    .hero-text {
        font-size: 4.6rem;
    }
    .text-A {
        font-size: 1.62rem;
    }
    .text-B {
        font-size: 1.5rem;
    }
    .text-C {
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
    .text-D {
        font-size: 0.95rem;
    }
}

//Ipad Pro
@media only screen and (min-device-width: 1000px) and (max-device-width: 1200px) {
    .hero-text {
        font-size: 5.3rem;
    }
    .text-A {
        font-size: 2.32rem;
    }
    .text-B {
        font-size: 2.2rem;
    }
    .text-C {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
    .text-D {
        font-size: 1.3rem;
    }
}