$component: 'select-combo';
.#{$component} {
    margin-top: 2vh;
    width: 95%;
    label {
        cursor: pointer;
    }
    .#{$component}__options-container {
        margin-top: 2vh;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        color: $second-color;
        max-height: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        border-radius: 8px;
        overflow: hidden;
        order: 1;
        &::-webkit-scrollbar {
            width: 1vw;
            background-color: none;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $third-color;
            border-radius: 8px;
        }
        &.#{$component}__options-container--active {
            max-height: 25vh;
            opacity: 1;
            overflow-y: scroll;
            +.#{$component}__selected {
                .#{$component}__drop-down {
                    //rotates icon when options active
                    transform: rotateX(180deg);
                }
            }
            ~.#{$component}__search-box {
                opacity: 1;
                input {
                    pointer-events: auto;
                }
            }
        }
        .#{$component}__option {
            &:hover {
                background-color: $third-color;
            }
            input[type='radio'] {
                display: none;
            }
        }
    }
    .#{$component}__selected {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        margin-bottom: 8px;
        color: $second-color;
        width: 97%;
        order: 0;
        justify-content: space-between;
        .#{$component}__drop-down {
            height: 5vh;
            width: 8vw;
            transition: all 0.4s;
        }
    }
    .#{$component}__option,
    .#{$component}__selected {
        padding: 2%;
        cursor: pointer;
    }
    .#{$component}__search-box {
        justify-content: space-between;
        background-color: $third-color;
        width: 100%;
        padding: 2% 0.5%;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        opacity: 0;
        transition: all 0.4s;
        input {
            flex-grow: 2;
            height: 5vh;
            z-index: 100;
            border: none;
            color: $second-color;
            pointer-events: none;
            font-size: inherit;
            font-family: inherit;
            margin: 0 1%;
            background-color: transparent;
        }
        input:focus {
            outline: none;
        }
        input::placeholder {
            color: $second-color;
        }
        ##{$component}__search {
            height: 5vh;
            width: 8vw;
        }
    }
}